@import url("header.css");
@import url("estilosbases.css");
@import url("animaciones.css");
.content-formulario{
    background-image: url("../img/fondoprincipal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 750px;
}
.content-formulario h1{
    color: #ffffff;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.formulario__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    animation:aparecer;
    animation-duration: 3s;
}
.formulario__container img{
    width: 300px;
    height: 300px;
}
form{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 30%;
   padding: 20px;
   background-color: #fff;   
}
form label{
    margin-bottom: 5px;
    width: 100%;
    font-size: 1.2rem;
}
form input{
    padding: 10px;
    margin-top: 10px;
}
form .btn{
    border: none;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    background-color: #000;
}
.container-o{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.container-o .linea{
margin-top: 15px;
   width: 30%;
   border: 1px solid #000;
}
.container-o p{
    margin-top: 15px;
}
.google{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
} 
.google span{
    margin-left: 10px;
    font-size: 1.1rem;
}

@media(max-width: 800px){
    html{
        font-size: 12px;
    }
    form{
        width: 100%;  
    }
    .lista__item{
        width: 100%;
    }
}
@media(max-width: 400px){
    html{
        font-size: 12px;
    }
    .formulario__container img{
        width: 200px;
        height: 200px;
    }
}